.App {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
    box-shadow: 0px 0px black;
    padding: 10px 100px;
    box-sizing: border-box;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
}